
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f4f4f4;
    line-height: 1.6;
}


header {
    background: #282c34;
    color: white;
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    padding: 0 1rem;
}

header h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

header ul li {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    list-style: none;
}

header ul li:hover {
    color: #61dafb;
    cursor: pointer;
}


a {
    text-decoration: none;
    color: inherit;
}


@media (max-width: 768px) {
    header nav {
        flex-direction: column;
        text-align: center;
    }

    header ul {
        flex-direction: column;
        gap: 0.5rem;
    }
}
